In [1]:
def greet(name):
    print("Hello" , name)
    print("What's going on?")
greet('Sai')

Hello Sai
What's going on?

In [2]:
def greet(name):
    print("Hello , " +name)
    print("What's going on?")
greet("Sai")
print("This is outside greet()")

Hello , Sai
What's going on?
This is outside greet()

In [3]:
def add_numbers(n1 , n2):
    sum = n1 + n2
    print("sum = " , sum)
num1 = 5
num2 = -12
add_numbers(num1 , num2)

sum =  -7

In [4]:
def add_numbers(n1 , n2):
    sum = n1 + n2
    return sum
result = add_numbers(5 , -12)
print("sum = " , result)

sum =  -7

In [5]:
def get_absolute(num):
    if num >= 0:
        return num
    else:
        return -num
print(get_absolute(-9))
print(get_absolute(-8))
print(get_absolute(-7))
print(get_absolute(-6))

9
8
7
6

In [6]:
def my_func():
    x = 10
    print("Value inside function :" , x)
my_func()
x = 20
print("Value outside function :" , x)

Value inside function : 10
Value outside function : 20

In [7]:
def my_func():
    x = 5
    print(x)
my_func()

5

In [8]:
def my_function():
    print("Hello from a function")
my_function()

Hello from a function

In [9]:
x = "awesome"

def myfunc():
    global x
    x = "best"
    print("Python is " + x)

myfunc()
print(x)

Python is best
best

In [10]:
def myfunc():
    global x
    x = "fantastic"
print(x)

best

In [11]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [12]:
def greet(name ,msg):
    print("Hello" , name+ ', '+ msg)
greet("Sai" , "Good Morning")

Hello Sai, Good Morning

In [13]:
def greet(name , msg = "Good Morning"):
    print("Hey" ,name + ' , ' +msg)
greet("Sai")
greet("Rasika" , "Whats Up")

Hey Sai , Good Morning
Hey Rasika , Whats Up

In [14]:
def greet(name , msg = " Good Morning"):
    print(" Hey" , name + ' , '+msg)
greet("Sai")

 Hey Sai ,  Good Morning

In [15]:
def greet(name , msg):
    print('Hey' , name + ' , '+msg)
greet(msg = "Good Morning" , name = "Sai")

Hey Sai , Good Morning

In [16]:
def greet(name , msg):
    print("Hey " ,name + ' , '+msg)
greet(msg = "Ssup ?" , name = "Sai")

Hey  Sai , Ssup ?

In [17]:
def greet(name , msg):
    print("Hey" , name+ ' , '+msg)
greet("Sai" , msg = "Ssup ?" )

Hey Sai , Ssup ?

In [18]:
def greet(*names):
    print(names)
greet('Sai' , 'Rasika' , 'Naik')

('Sai', 'Rasika', 'Naik')

In [19]:
def my_func(a , b, c):
    return a , b , c
print(my_func(2 , 5 , "Hello"))

(2, 5, 'Hello')

In [20]:
def my_function(fname):
    print(fname + " Naik")

my_function("Sai")
my_function("Arun")
my_function("Rasika")

Sai Naik
Arun Naik
Rasika Naik

In [21]:
def myfunction(fname):
    print(fname + " arun"  " naik")
myfunction("sai")
myfunction("rasika")

sai arun naik
rasika arun naik

In [22]:
def myfunction(fname , lname):
    print(fname + " arun " + lname)
myfunction("sai", "naik")

sai arun naik

In [23]:
def myfunction(*kids):
    print("the youngest child is " +kids[2])
myfunction("sai" , "arun" , "naik")

the youngest child is naik

In [24]:
def my_function(**kid):
  print("His last name is " + kid["lname"])

my_function(fname = "Sai", lname = "Naik")

His last name is Naik

In [25]:
def my_function(country = "Norway"): #default
    print("I am from " + country)
my_function("New-Zealand")
my_function("India")
my_function("Australia")
my_function()

I am from New-Zealand
I am from India
I am from Australia
I am from Norway

In [26]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [27]:
def my_function(food):
    food = ["idli" , "vada" , "dosa"]
    for x in food:
        print(x)
my_function("food")

idli
vada
dosa

In [28]:
def my_function(x):
    return 5 * x

print(my_function(4))
print(my_function(5))
print(my_function(9))

20
25
45

In [29]:
def myFunction() :
    return True

print(myFunction())

True

In [30]:
def myfunction():
    a = 10
    b = 20
    print(a + b)
myfunction()
def sai():
    a = 74
    b = 36
    print(a * b)
sai()

30
2664

In [31]:
class person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def printname(self):
        print(self.firstname, self.lastname)
a = person('sai','naik')
print(a.firstname)
print(a.lastname)
print(a.printname())

sai
naik
sai naik
None

In [32]:
def tri_recursion(k):
    if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

In [33]:
def calc_sum(n): #recursion
    if n==1:
        return 1
    else:
        return n +calc_sum(n-1)
calc_sum(4)

10

In [34]:
def print_each(iterable):
    iterator = iter(iterable)
    while True:
        try:
            item = next(iterator)
        except StopIteration:
            break
        else:
            print(item)
print_each(['sai' , 'arun' ,'naik'])

sai
arun
naik

1. Write a function called calculate_area that takes base and height as an input and returns and area of a triangle.
Equation of an area of a triangle is,
area = (1/2)*base*height

In [35]:
def calculate_area(base , height):
    area_of_triangle = 0.5 * base * height
    print(area_of_triangle)
calculate_area(12 ,14)
calculate_area(15 , 17)

84.0
127.5

2. Modify above function to take third parameter shape type. It can be either "triangle" or "rectangle". 
Based on shape type it will calculate area. Equation of rectangle's area is,
rectangle area=length*width
If no shape is supplied then it should take triangle as a default shape

In [36]:
def calculate_area(value1 , value2 , shape='triangle'):
    if shape=='triangle':
        area_of_triangle = 0.5 * value1 * value2
        print(area_of_triangle)
    if shape=='rectangle':
        area_of_rectangle = value1 * value2
        print(area_of_rectangle)
calculate_area(12 , 14)        
calculate_area(12 , 14 ,'rectangle')

84.0
168

3. Write a function called print_pattern that takes integer number as an argument and prints following pattern

In [37]:
num = int(input('Enter the number of rows :'))
for i in range(1 , num+1):
    for j in range(1 , i+1):
        print('*' , end = " ")
    print()

Enter the number of rows :5
*
* *
* * *
* * * *
* * * * *

2. You are given following list of stocks and their prices in last 3 days,

    |Stock|Prices|
    |-------|----------|
    |info|[600,630,620]|
    |ril|[1430,1490,1567]|
    |mtl|[234,180,160]|

    1. Write a program that asks user for operation. Value of operations could be,
        1. print: When user enters print it should print following,
            info ==> [600, 630, 620] ==> avg:  616.67
            ril ==> [1430, 1490, 1567] ==> avg:  1495.67
            mtl ==> [234, 180, 160] ==> avg:  191.33
            
        2. add: When user enters 'add', it asks for stock ticker and price.
           If stock already exist in your list (like info, ril etc) then it will append the price to the list.
           Otherwise it will create new entry in your dictionary.
           For example entering 'tata' and 560 will add tata ==> [560] to the dictionary of stocks.

In [38]:
info = [600 , 630 , 620]

In [39]:
ril = [1430 , 1490 , 1567]

In [40]:
mtl = [234 , 180 , 160]

In [41]:
def avg(m1 , m2 ,m3):
    ans = (m1+m2+m3)/3
    print(ans)

In [42]:
avg(600 , 630 , 620)

616.6666666666666

In [43]:
avg(1430 , 1490 , 1567)

1495.6666666666667

In [44]:
avg(234 , 180 , 160)

191.33333333333334

# COREY SCHAFER-FUNCTION

In [48]:
def hello_func(greeting , name='you'):
    return ' {} , {} '.format(greeting,name)

def student_info(*args , **kwargs): #dont know how may arguments and keyword arguments
    print(args)
    print(kwargs)

print(hello_func('Hi' , name = 'Sai'))

student_info('Sai' , 'Arun' , 'Naik' , name = 'John' , age = 22)

 Hi , Sai
('Sai', 'Arun', 'Naik')
{'name': 'John', 'age': 22}

In [50]:
def student_info(*args , **kwargs):
    print(args)
    print(kwargs)
    
courses = ['Math' , 'Art']
info = {'name':'Sai' , 'age':23}

student_info(*courses , **info)

('Math', 'Art')
{'name': 'Sai', 'age': 23}

In [52]:
#Number of days per month.First value placeholder for indexing purposes.
month_days = [0 , 31 , 28 , 31 , 30 , 31 , 30 , 31 , 31 ,30 , 31 , 30 , 31]

def is_leap(year):
    #Returns True for leap year ,false for non leap year
    return year % 4 == 0 and (year % 100 !=0 or year % 400 ==0)

def days_in_month(year , month):
    #Return no of days in that month in that year
    #year 2017
    #month 2
    if not 1 <= month <= 12:
        return 'Invalid Month'
    
    if month == 2 and is_leap(year):
        return 29
    return month_days[month]
print(days_in_month(2017 , 2))

28