In [1]:
print("This is my first line of code")

This is my first line of code

In [5]:
print("Hello\nThis is next line")

Hello
This is next line

In [11]:
#basic operators
a = 6
b = 7

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a ** b)

13
-1
42
0.8571428571428571
0
279936

In [12]:
#BEDMAS
print(4 * 5 - 9 + 6 / 7)

11.857142857142858

In [14]:
#increment decrement operator
inc = 9
inc += 1
print(inc)
inc -= 1
print(inc)

10
9

In [15]:
#Logical
print(3 < 4)
print(True and False)
print(True or False)
print(a != b)
print(True and not False)

True
False
True
True
True

In [29]:
#rstrip() - remove whitespaces from the right
#lstrip() - remove whitespaces from the left
#strip() - remove whitespaces from both the ends
sentence = "   ## There is some space at both ends % % "

print(sentence.lstrip())
print(sentence.rstrip())
print(sentence.strip())
print(sentence.rstrip(' % '))
print(sentence.rstrip(' % ').lstrip(' # '))

## There is some space at both ends % %
   ## There is some space at both ends % %
## There is some space at both ends % %
   ## There is some space at both ends
There is some space at both ends

In [37]:
# Indexing and Slicing
val = '2 apples'
no_of_apples = val[0]
print('number of apples is ', no_of_apples)

what = val[2:]
print(what)
what = val[2:5]
print(what)

number of apples is  2
apples
app

In [39]:
nums = '123456789'
even_nums = nums[1::2]
odd_nums = nums[0::2]
print(even_nums)
print(odd_nums)

2468
13579

In [40]:
a = "data"
b = "analysis"
c = "pandas"
print("{0} {1} using {2}" .format(a,b,c))

data analysis using pandas

In [41]:
#Lists
DA_languages = ['R' , 'Phyton' , 'SAS' , 'Scala' , 42]
print(DA_languages)

['R', 'Phyton', 'SAS', 'Scala', 42]

In [53]:
print(DA_languages[0])
print(DA_languages[1:3])
print(DA_languages[0:2])
print(DA_languages[-1])
print(DA_languages[2:])
print(DA_languages[:-3])
DA_languages.pop(0)
print(DA_languages)
DA_languages.append(' R ')

Scala
[42, 'R']
['Scala', 42]
R
['R']
[]
[42, 'R']

In [54]:
print(DA_languages)

[42, 'R', ' R ']

In [55]:
DA_languages.remove('R')

In [56]:
print(DA_languages)

[42, ' R ']

In [57]:
DA_languages.remove('R')

ValueError: list.remove(x): x not in list

In [58]:
print(DA_languages)

[42, ' R ']

In [63]:
DA_languages.append('Java')
print(DA_languages)

[42, ' R ', 'Java', 'Java', 'Java', 'Java', 'Java']

In [65]:
sentence = "Childhood is the best period of life"
print(sentence)

Childhood is the best period of life

In [66]:
words = sentence.split()

In [67]:
print(words)

['Childhood', 'is', 'the', 'best', 'period', 'of', 'life']

In [69]:
sentence = "Childhood .is. the. best. period. of. life"
print(sentence)

Childhood .is. the. best. period. of. life

In [72]:
words = sentence.split('.')
print(words)

['Childhood ', 'is', ' the', ' best', ' period', ' of', ' life']

In [73]:
LI=['join', 'words', 'of', 'this', 'sentence.']
print(LI)

['join', 'words', 'of', 'this', 'sentence.']

In [81]:
words = " & ".join(LI)
print(words)

join & words & of & this & sentence.

In [84]:
list = ["Hi"]
print(list * 5)

['Hi', 'Hi', 'Hi', 'Hi', 'Hi']

In [85]:
print(list + list)

['Hi', 'Hi']

In [86]:
nums = [2,6,9,3,2,1]
print(len(nums))

6

In [87]:
print(sorted(nums))

[1, 2, 2, 3, 6, 9]

In [88]:
print(max(nums))

9

In [89]:
print(min(nums))

1

In [92]:
nest = [[1,2,3] , [4,5,6] , [7,8,9]]
print(nest[2])

[7, 8, 9]

In [93]:
print(nest[0][1])

2

In [94]:
print(nest[0:2])

[[1, 2, 3], [4, 5, 6]]

In [7]:
#tuple
first_tuple = ("Monty Python" , 30 ,"Baker Street"  , 5.8)
print(first_tuple[0])

Monty Python

In [8]:
city_tuple = ('Mumbai' , 12.4554224 , 32.5465654)
print(city_tuple)

('Mumbai', 12.4554224, 32.5465654)

In [9]:
new_tuple = city_tuple
print(new_tuple)

('Mumbai', 12.4554224, 32.5465654)

In [16]:
b = new_tuple[:-1]
print(b)

('Mumbai', 12.4554224)

In [18]:
c = list(b)
print("c is :{0}" .format(c))

c is :['Mumbai', 12.4554224]

In [19]:
c.append('Sai')
print(c)

['Mumbai', 12.4554224, 'Sai']

In [20]:
c = tuple(c)
print("c is now a tuple: {0}".format(c))

c is now a tuple: ('Mumbai', 12.4554224, 'Sai')

In [21]:
print(c)

('Mumbai', 12.4554224, 'Sai')

In [22]:
empty_dictionary = {}
print(type(empty_dictionary))

<class 'dict'>

In [24]:
bio_data = {'Name':'Sai Naik' , 'Age':23 , 'Height':'5 ft'  , 'Hobby' : 'Kite Flying'}
print(bio_data)

{'Name': 'Sai Naik', 'Age': 23, 'Height': '5 ft', 'Hobby': 'Kite Flying'}

In [28]:
hobby = bio_data['Hobby']
print(hobby)

Kite Flying

In [30]:
age = bio_data.get('Age')
print(age)

23

In [31]:
profession = bio_data.get('Profession','NA')
print(profession)

NA

In [33]:
bio_data['Age'] = 22
print(bio_data)

{'Name': 'Sai Naik', 'Age': 22, 'Height': '5 ft', 'Hobby': 'Kite Flying'}

In [34]:
#add a key,value

bio_data['Profession'] = 'Singer'
print(bio_data)

{'Name': 'Sai Naik', 'Age': 22, 'Height': '5 ft', 'Hobby': 'Kite Flying', 'Profession': 'Singer'}

In [38]:
print('Profession' in bio_data)

True

In [41]:
#get list of keys
print(list(bio_data.keys()))
#get values of keys
print(list(bio_data.values()))

['Name', 'Age', 'Height', 'Hobby', 'Profession']
['Sai Naik', 22, '5 ft', 'Kite Flying', 'Singer']

In [42]:
new_dictionary = dict(Country = 'Jamaica' , Songs = ['One Love','Misty Morning'] )

In [43]:
bio_data.update(new_dictionary)
print(bio_data)

{'Name': 'Sai Naik', 'Age': 22, 'Height': '5 ft', 'Hobby': 'Kite Flying', 'Profession': 'Singer', 'Country': 'Jamaica', 'Songs': ['One Love', 'Misty Morning']}

In [44]:
del bio_data['Songs']
print(bio_data)

{'Name': 'Sai Naik', 'Age': 22, 'Height': '5 ft', 'Hobby': 'Kite Flying', 'Profession': 'Singer', 'Country': 'Jamaica'}

In [46]:
students_data = { 1:['Shivam Bansal ', 24 ] , 2:['Udit Bansal' , 25] , 3:['Sai Naik' , 22]}
print(students_data)

{1: ['Shivam Bansal ', 24], 2: ['Udit Bansal', 25], 3: ['Sai Naik', 22]}

In [47]:
print(len(students_data))

3

In [ ]:
print(list(students_data.values()))

In [ ]:
students_data[4] = ['Manasi Sharma' , 22]
print(students_data)

In [ ]:
#sets
students_list = ['a' ,'a' ,  'b' , 'c' , 'd' , 'e' , 'f']
print(students_list)

In [ ]:
students_set = set(students_list)
print(students_set)

In [ ]:
print(type(students_set))

In [ ]:
students_list_2 = ['s' , 'e' , 'w', 'r' , ]

In [ ]:
students_set_2 = set(students_list_2)
print(students_set_2)

In [ ]:
print(students_set.intersection(students_set_2))

In [ ]:
print(students_set.union(students_set_2))

In [ ]:
print(students_set.difference(students_set_2))

In [ ]:
#conditional statement

In [2]:
score = int(input("Enter Your Test Score: " ))
passing = 40
distinction = 90
if score >= distinction :
    print("You Have topped")
if score < distinction and score >= passing:
    print("You Have Passed")
if score < passing :
    print("You Have Failed")

Enter Your Test Score: 92
You Have topped

In [3]:
if score == 100:
    print("Perfect")
elif score < 100 and score >= 90:
    print("Distinction")
elif score < 90 and score >= 65:
    print("First Class")
elif score < 65 and score >= 40:
    print("Second Class")
else:
    print("Failed")

Distinction

In [5]:
statement = "The Coffee is Baad"
if 'Bad' in statement:
    print('Bad Review')
else:
    print('Good Review')

Good Review

In [16]:
#enter 24
num = int(input(" Enter a number :"))
if num % 2 == 0:
    print('even')
    if num % 4 == 0:
        print('it is divisible by 4')
    else :
        print('it is not divisible by 4')
else:
    print('odd')
    if num % 3 == 0:
        print('it is divisible by 3')
    else :
        print('it is not divisible by 3')

 Enter a number :24
even
it is divisible by 4

In [ ]:
# looping statement

In [18]:
for i in range(1,5):
    print (i)

1
2
3
4

In [19]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [23]:
#Looping on a string
my_string = "Marry had a little lamb"
for lmn in my_string :
    print(lmn)

M
a
r
r
y

h
a
d

a

l
i
t
t
l
e

l
a
m
b

In [49]:
#pattern to print
strl = ''
for i in range(0,9):
    if i < 5:
        strl += '* '
        print(strl)
    elif i > 4:
        strl = strl[:-2]
        print(strl)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [6]:
my_string = "Mary Had A Little Lamb"
for n , alphabet in enumerate(my_string):
    print(alphabet ,n)

M 0
a 1
r 2
y 3
  4
H 5
a 6
d 7
  8
A 9
  10
L 11
i 12
t 13
t 14
l 15
e 16
  17
L 18
a 19
m 20
b 21

In [5]:
#sentence check
tweet = '#beautiful #moring it is a good day.'
for word in tweet.split():
    if word.startswith('#'):
        print(word[1:])

beautiful
moring

In [19]:
students_data = { 1:['Shivam Bansal ', 24 ] , 2:['Udit Bansal' , 25] , 3:['Sai Naik' , 22] , 4:['Rasika Naik' , 26 ]}
for key , val in students_data.items():
    print(key , val)

1 ['Shivam Bansal ', 24]
2 ['Udit Bansal', 25]
3 ['Sai Naik', 22]
4 ['Rasika Naik', 26]

In [23]:
for values in students_data.values():
    print(values)

['Shivam Bansal ', 24]
['Udit Bansal', 25]
['Sai Naik', 22]
['Rasika Naik', 26]

In [22]:
for keys in students_data.keys():
    print(keys)

1
2
3
4

In [36]:
#while loop
start = 20
total = 0
while start < 51 :
    total += start
    start +=1
    print(start)
print(total)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
1085

In [52]:
count = 0
for key,val in students_data.items():
    if val[1] > 20:
        count +=1
print(count)

4

In [53]:
square_list = []
for x in range(1,10):
    square_list.append(x**2)
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
square_list = [x**2 for x in range(1,10)]
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [59]:
x = [i**+1 for i in range(5)]
print(x)

[0, 1, 2, 3, 4]

In [2]:
paragraph = ["There was a fox." , "It was brown in colour." , "It was seen near that farm sometime back."]
single_word_list = []
for sentence in paragraph :
    for word in sentence.split( ):
        single_word_list.append(word)
print(single_word_list)

['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'colour.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back.']

In [3]:
single_word_list = [word for sentence in paragraph for word in sentence.split()]
print(single_word_list)

['There', 'was', 'a', 'fox.', 'It', 'was', 'brown', 'in', 'colour.', 'It', 'was', 'seen', 'near', 'that', 'farm', 'sometime', 'back.']

In [5]:
#list comp with if statement
vowels = ['a' , 'e' , 'i' , 'o' , 'u']
vowels_from_sentence = []
for sentence in paragraph:
    for word in sentence.split():
        if word[0].lower() in vowels:
            vowels_from_sentence.append(word)
print(vowels_from_sentence)

['a', 'It', 'in', 'It']

In [6]:
k = [i for i in my_string if i not in 'aeiou']
print(k)

NameError: name 'my_string' is not defined

In [9]:
if 5 > 2:
    print("5 is greater than 2")

5 is greater than 2

In [4]:
square_list = []
for x in range(1 , 10):
    square_list.append(x**2)
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
square_list = [x**2 for x in range(1 , 10)]
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]