In [2]:
list1 = []
list2 = [1 ,2 ,3]
list3 = [1 ,"Hello" ,3.4]
my_list = ["mouse" , [8 ,4 ,6] ,['a']]
print(list1)
print(list2)
print(list3)
print(my_list)

[]
[1, 2, 3]
[1, 'Hello', 3.4]
['mouse', [8, 4, 6], ['a']]

In [3]:
numbers = [11 , 22 , 33 , 44  , 55 , 66 , 77 , 88 , 99]
numbers[5]

66

In [4]:
my_list = ['p' ,'y' ,'t' ,'o' ,'n']
my_list[2:5]

['t', 'o', 'n']

In [5]:
my_list[3:]

['o', 'n']

In [6]:
print(my_list[-5])

p

In [7]:
my_list[:]

['p', 'y', 't', 'o', 'n']

In [32]:
odd = [2 ,4 ,6 ,8]

In [21]:
odd[0:4] = [1 ,3 ,5 ,7]

In [22]:
odd

[1, 3, 5, 7]

In [23]:
odd = [1 ,3 ,7]
odd.append(7)
print(odd)

[1, 3, 7, 7]

In [24]:
odd.extend([7 ,9 ,11])
print(odd)

[1, 3, 7, 7, 7, 9, 11]

In [26]:
print(odd +[9 ,5 ,7])

[1, 3, 7, 7, 7, 9, 11, 9, 5, 7]

In [27]:
print(["a" , "b"] *3)

['a', 'b', 'a', 'b', 'a', 'b']

In [30]:
odd = [1 , 9]
odd.insert(1,3)
odd

[1, 3, 9]

In [33]:
odd[3:3] = [5 , 7 ,12]
print(odd)

[2, 4, 6, 5, 7, 12, 8]

In [1]:
list1 = [1 , 2 , 'hello']
iter(list1)

In [41]:
my_list = ['p' , 'r' , 'o' , 'b' , 'l' , 'e' , 'm']
del my_list[2]

In [42]:
my_list

['p', 'r', 'b', 'l', 'e', 'm']

In [43]:
my_list.insert(2 , 'o')

In [44]:
my_list

['p', 'r', 'o', 'b', 'l', 'e', 'm']

In [45]:
del my_list[1:5]

In [46]:
my_list

['p', 'e', 'm']

In [47]:
del my_list

In [48]:
print(my_list)

NameError: name 'my_list' is not defined

In [49]:
my_list = [1 , 2 , 3 , 4 , 5 , 6 ,7]
my_list.remove(1)

In [50]:
my_list

[2, 3, 4, 5, 6, 7]

In [51]:
print(my_list.pop())

7

In [52]:
print(my_list)

[2, 3, 4, 5, 6]

In [53]:
my_list.clear()

In [54]:
print(my_list)

[]

In [55]:
del my_list

In [56]:
list1 = [1 ,2 ,3]
list1 = list2

In [57]:
list2

[1, 2, 3]

In [58]:
list1.append(4)

In [59]:
list2

[1, 2, 3, 4]

In [60]:
list1[0] = "one"

In [61]:
list2

['one', 2, 3, 4]

In [62]:
list1 = [1 ,2 ,3]
list2 = list1.copy()

In [63]:
list2

[1, 2, 3]

In [64]:
for fruit in ['apple' , 'banana' , 'mango']:
    print("I Love", fruit)

I Love apple
I Love banana
I Love mango

In [65]:
print('apple' in fruit)

False

In [66]:
fruit = ['apple' , 'banana' , 'mango']
print('apple' in fruit)

True

In [67]:
my_list = [1 ,2 , [3 ,4 ,5]]
result = my_list[2][1]
result

4

In [8]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [9]:
fruits = ["apple" , "banana" , "cherry" , "kiwi" , "mango"]
newlist = [x.lower() for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [10]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x if x != "banana" else "orange" for x in fruits ]

print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

1. Let us say your expense for every month are listed below,
	1. January -  2200
 	2. February - 2350
    3. March - 2600
    4. April - 2130
    5. May - 2190

In [1]:
list1 = [2200 ,2350 ,2600 , 2130 ,2190]

1. In Feb, how many dollars you spent extra compare to January?

In [3]:
list1[1] - list1[0]

150

2. Find out your total expense in first quarter (first three months) of the year.

In [4]:
total = list1[0] + list1[1] + list1[2]
print(total)

7150

3. Find out if you spent exactly 2000 dollars in any month

In [5]:
if 2000 in list1:
    print('Yes')
else:
    print('No')

No

4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [7]:
list1.append(1980)

In [8]:
list1

[2200, 2350, 2600, 2130, 2190, 1980]

5. You returned an item that you bought in a month of April and got a refund of 200$. 
Make a correction to your monthly expense list based on this

In [9]:
list1[3]= list1[3] - 200

In [10]:
list1

[2200, 2350, 2600, 1930, 2190, 1980]

In [11]:
heros=['spider man' , 'thor' , 'hulk' , 'iron man' , 'captain america']

In [12]:
len(heros)

5

2. Add 'black panther' at the end of this list

In [13]:
heros.append('black panther')

In [14]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'

In [15]:
heros.remove('black panther')

In [16]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [17]:
heros.insert(3 , 'black panther')

In [18]:
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

4. Now you don't like thor and hulk because they get angry easily
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.

In [19]:
heros[1:3] = ['doctor strange']
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [21]:
heros.sort()

In [22]:
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']