In [1]:
mytuple = ("apple", "banana", "cherry")
myit = iter(mytuple)

print(next(myit))
print(next(myit))
print(next(myit))

apple
banana
cherry

In [1]:
my_tuple = (1 ,2 ,3)

In [2]:
my_tuple = (1 , "Hello" , 3.4)

In [3]:
my_tuple = ('cat' , [8 ,4] , (1 ,2 ,3))

In [4]:
my_tuple = 3 ,4.6 ,'dog'

In [5]:
my_tuple

(3, 4.6, 'dog')

In [6]:
t1 = ("hello")
print(type(t1))

<class 'str'>

In [7]:
t2 = ("hello",)
print(type(t2))

<class 'tuple'>

In [8]:
t3 = "hello" ,

In [9]:
print(type(t3))

<class 'tuple'>

In [10]:
my_tuple = ('a' , 'b' , 'c' , 'd' ,'e')
my_tuple[3]

'd'

In [11]:
print(my_tuple[-1])
print(my_tuple[-2])

e
d

In [12]:
my_tuple = ("p" , "y" , "t" , "h" ,"o" , "n")
print(my_tuple[1:5])

('y', 't', 'h', 'o')

In [13]:
print(my_tuple[:-4])

('p', 'y')

In [14]:
print(my_tuple[5:])

('n',)

In [15]:
print(my_tuple[:])

('p', 'y', 't', 'h', 'o', 'n')

In [ ]:
my_tuple = (99 , 2 ,3)
my_tuple[0] = 1  #'tuple' object does not support item assignment

In [17]:
my_tuple = (1 ,2 ,['z' , 'b'])
my_tuple[2][0] = 'a'

In [18]:
print(my_tuple)

(1, 2, ['a', 'b'])

In [19]:
odd = (1 ,3 ,5)
print(odd + (9 ,7 ,5))

(1, 3, 5, 9, 7, 5)

In [20]:
letters = ('a' , 'b')
print(letters*3)

('a', 'b', 'a', 'b', 'a', 'b')

In [ ]:
my_tuple = (1 ,3 ,5)
del my_tuple[0] #'tuple' object doesn't support item deletion

In [21]:
my_tuple = ('a' , 'p' ,'p' ,'l' ,'e')
result = my_tuple.count('p')
print(result)
result = my_tuple.index('p')
print(result)

2
1

In [22]:
print('a' in my_tuple)
print('e' in my_tuple)

True
True

Hello Sai
Hello Naik

Hello