# Set  are Unordered And Inindexed

In [1]:
thisset = {"apple" , "banana" , "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [2]:
thisset = {"apple" , "banana" , "cherry"}
for x in thisset:
    print(x)

banana
cherry
apple

In [3]:
 thisset = {"apple" , "kiwi" , "cherry"}
if "banana" in thisset:
    print(True)
else:
    print(False)

False

In [4]:
thisset = {"apple" , "banana" , "cherry"}
thisset.add("papaya")
print(thisset)

{'banana', 'papaya', 'cherry', 'apple'}

In [5]:
thisset = {"apple" , "banana" , "cherry"}
thisset.update(["mango" , "kiwi" , "dragon fruit"])
print(thisset)

{'cherry', 'banana', 'apple', 'kiwi', 'mango', 'dragon fruit'}

In [6]:
thisset = {"apple" , "banana" , "cherry"}
print(len(thisset))

3

In [7]:
thisset = {"apple" , "banana" , "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [8]:
thisset = {"apple" , "banana" , "cherry"}
x = thisset.pop()
print(x)
print(thisset)

banana
{'cherry', 'apple'}

In [9]:
thisset = {"apple" , "banana" , "cherry"}
thisset.clear()
print(thisset)

set()

In [10]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [11]:
set1 = {"apple", "banana", "cherry"}
set2 = {1 ,2 ,3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'cherry', 'banana', 'apple'}

In [12]:
thisset = set(("apple", "banana", "cherry"))
print(thisset)

{'banana', 'cherry', 'apple'}

In [1]:
my_set = {1 ,2 ,3}
print(my_set)

{1, 2, 3}

In [2]:
my_set = {1.0 , "Hello" , (1 ,2 ,3)}
print(my_set)

{1.0, 'Hello', (1, 2, 3)}

In [3]:
my_set = {1 ,2 ,3 ,4 ,5 ,3 ,4}
print(my_set)

{1, 2, 3, 4, 5}

In [4]:
my_set = set([1 ,2 ,3 ,2])
print(my_set)

{1, 2, 3}

In [5]:
my_set = {1 ,2 , [3 ,4]}
print(my_set)

TypeError: unhashable type: 'list'

In [6]:
a = set()
print(type(a))

<class 'set'>

In [7]:
my_set = {1 ,3}
print(my_set)

{1, 3}

In [8]:
my_set.add(2)

In [9]:
print(my_set)

{1, 2, 3}

In [10]:
my_set.update([2 ,3 ,4])
print(my_set)

{1, 2, 3, 4}

In [11]:
my_set.update([4 ,5] ,{1 ,6 ,8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [12]:
my_set = {1 ,3 ,4 ,5 ,6}

In [13]:
my_set.discard(4)

In [14]:
print(my_set)

{1, 3, 5, 6}

In [15]:
my_set.remove(6)

In [16]:
print(my_set)

{1, 3, 5}

In [21]:
my_set = set("HelloWorld")
print(my_set)

{'d', 'r', 'l', 'e', 'o', 'H', 'W'}

In [24]:
print(my_set.pop())

d

In [25]:
print(my_set.clear())

None

In [26]:
A = {1 ,2 ,3 ,4 ,5}
B = {4 ,5 ,6 ,7 ,8}
print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [27]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [28]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [29]:
A = {1 ,2 ,3 ,4 ,5}
B = {4 ,5 ,6 ,7 ,8}
print(A & B)

{4, 5}

In [30]:
A.intersection(B)

{4, 5}

In [31]:
B.intersection(A)

{4, 5}

In [32]:
print(A - B)

{1, 2, 3}

In [33]:
print(B - A)

{8, 6, 7}

In [34]:
A.difference(B)

{1, 2, 3}

In [35]:
B.difference(A)

{6, 7, 8}

In [36]:
B - A

{6, 7, 8}

In [37]:
print(A^B)

{1, 2, 3, 6, 7, 8}

In [39]:
#Return a set that contains all items from both sets, except items that are present in both sets:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

In [40]:
B.symmetric_difference(A)

{1, 2, 3, 6, 7, 8}

In [41]:
my_set = set("apple")

In [42]:
print(my_set)

{'p', 'l', 'a', 'e'}

In [43]:
print('a' in my_set)

True

In [44]:
print('p' not in my_set)

False

In [45]:
for letter in set("apple"):
    print(letter)

p
l
a
e

In [46]:
A = frozenset([1 ,2 ,3 ,4])
B = frozenset([3 ,4 ,5 ,6])  #set object but only unchangeable

In [48]:
A.isdisjoint(B) #Return True if no items in set x is present in set y

False

In [49]:
A.difference(B)

frozenset({1, 2})

In [50]:
A|B

frozenset({1, 2, 3, 4, 5, 6})