# Indexing and Slicing

In [48]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [49]:
a = " Hello World! "
print(a)

 Hello World!

In [52]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [54]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [55]:
txt = "We are the so-called \"Vikings\" from the north."
print(a[1]) # get the character at position 1

e

In [56]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [57]:
print(a[2:5]) #slicing get

llo

In [1]:
my_string = "Hello"
print(my_string)

Hello

In [2]:
str = 'programiz'
print( 'str = ' , str)

str =  programiz

In [3]:
print( 'str = ' , str[0])

str =  p

In [4]:
print(str[-1])

z

In [5]:
print(str[1:5])

rogr

In [6]:
print(str[5:-2])

am

In [7]:
str1 = "Hello"
str2 = "World!"
print('str1 + str2 = ' , str1 ,'', str2 )

str1 + str2 =  Hello  World!

In [8]:
print(str1*3)

HelloHelloHello

In [9]:
' Hello '' World! '

' Hello  World! '

In [10]:
s = ('Hello '' World!')
s

'Hello  World!'

In [11]:
count = 0
for letter in 'Hello World':
    if(letter == 'l'):
        count+=1
print(count)

3

In [12]:
'a' in 'program'

True

In [13]:
'at' not in 'battle'

False

In [14]:
str = 'cold'
list_enumerate = list(enumerate(str))
print("list(enumerate(str)) = " , list_enumerate )

list(enumerate(str)) =  [(0, 'c'), (1, 'o'), (2, 'l'), (3, 'd')]

In [15]:
print( 'len(str) = ' , len(str))

len(str) =  4

In [16]:
print("This is printed \nIn Two Lines")

This is printed
In Two Lines

In [53]:
txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

In [1]:
val = '2 apples'
no_of_apples = val[0]
print('number of apples is ', no_of_apples)

what = val[2:]
print(what)
what = val[2:5]
print(what)

number of apples is  2
apples
app

In [2]:
nums = '123456789'
even_nums = nums[1::2]
odd_nums = nums[0::2]
print(even_nums)
print(odd_nums)

2468
13579

In [3]:
DA_languages = ['R' , 'Phyton' , 'SAS' , 'Scala' , 42]
print(DA_languages)

['R', 'Phyton', 'SAS', 'Scala', 42]

In [4]:
print(DA_languages[0])

R

In [5]:
print(DA_languages[1:3])

['Phyton', 'SAS']

In [6]:
print(DA_languages[0:2])

['R', 'Phyton']

In [7]:
print(DA_languages[-1])

42

In [8]:
print(DA_languages[2:])

['SAS', 'Scala', 42]

In [9]:
print(DA_languages[:-3])

['R', 'Phyton']

In [10]:
DA_languages.pop(0)

'R'

In [11]:
print(DA_languages)

['Phyton', 'SAS', 'Scala', 42]

In [12]:
DA_languages.append('R')

In [13]:
print(DA_languages)

['Phyton', 'SAS', 'Scala', 42, 'R']

In [14]:
DA_languages.remove('R')

In [15]:
print(DA_languages)

['Phyton', 'SAS', 'Scala', 42]

In [16]:
DA_languages.append('Java')

In [17]:
print(DA_languages)

['Phyton', 'SAS', 'Scala', 42, 'Java']

In [18]:
sentence = "Childhood is the best period of life"
print(sentence)

Childhood is the best period of life

In [19]:
words = sentence.split()

In [20]:
print(words)

['Childhood', 'is', 'the', 'best', 'period', 'of', 'life']

In [21]:
sentence = "Childhood .is. the. best. period. of. life"
print(sentence)

Childhood .is. the. best. period. of. life

In [22]:
words = sentence.split('.')
print(words)

['Childhood ', 'is', ' the', ' best', ' period', ' of', ' life']

In [23]:
LI=['join', 'words', 'of', 'this', 'sentence.']
print(LI)

['join', 'words', 'of', 'this', 'sentence.']

In [24]:
words = " & ".join(LI)
print(words)

join & words & of & this & sentence.

In [25]:
list1 = ["Hi"]
print(list1 * 5)

['Hi', 'Hi', 'Hi', 'Hi', 'Hi']

In [26]:
print(list1 + list1)

['Hi', 'Hi']

In [27]:
nums = [2,6,9,3,2,1]
print(len(nums))

6

In [28]:
print(sorted(nums))

[1, 2, 2, 3, 6, 9]

In [29]:
print(max(nums))

9

In [30]:
print(min(nums))

1

In [31]:
nest = [[1,2,3] , [4,5,6] , [7,8,9]]
print(nest[2])

[7, 8, 9]

In [32]:
print(nest[0][1])

2

In [33]:
print(nest[0:2])

[[1, 2, 3], [4, 5, 6]]

In [34]:
#tuple
first_tuple = ("Monty Python" , 30 ,"Baker Street"  , 5.8)
print(first_tuple[0])

Monty Python

In [35]:
city_tuple = ('Mumbai' , 12.4554224 , 32.5465654)
print(city_tuple)

('Mumbai', 12.4554224, 32.5465654)

In [36]:
new_tuple = city_tuple
print(new_tuple)

('Mumbai', 12.4554224, 32.5465654)

In [37]:
new_tuple[1] = 31.45544

TypeError: 'tuple' object does not support item assignment

In [ ]:
b = city_tuple[:-1]
print(b)
print(len(b))

In [ ]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[1] = "blackcurrant"

In [ ]:
print(thislist)

In [ ]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

In [ ]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

In [ ]:
print(thislist)

In [ ]:
print(mylist)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

In [38]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [39]:
sai = ("apple", "banana", "cherry")
rasika = list(sai)

In [40]:
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [41]:
print(rasika)

['apple', 'banana', 'cherry']

In [42]:
rasika[1] = "kiwi"
sai = tuple(rasika)
print(sai)

('apple', 'kiwi', 'cherry')

In [43]:
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [44]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [45]:
thistuple =tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [46]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [47]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

In [1]:
var = 'Earth revolves around the sun'
print(var[6:14])
print(var[-3:])

revolves
sun

4. I have a string variable called s='maine 200 banana khaye'. This of course is a
wrong statement, the correct statement is 'maine 10 samosa khaye'.
Replace incorrect words in original string with new ones and print the new string.
Also try to do this in one line.

In [2]:
s = 'maine 200 banana khaye'

In [3]:
print(s.replace('200 banana','10 samosa'))

maine 10 samosa khaye